{% extends 'base.html' %} {% block body %}
<h1 class="page-head">Adding A Skilll</h1>
<p class="page-description">
  For Adding A Skilll In Our Web You Need To Add The Skill in The Database, For
  This:
</p>
<p class="page-description">1- Entry in the source of page</p>
<p class="page-description">2- Click in '/static/db/add.db'</p>
<p class="page-description">3- After the download, install database browser</p>
<p class="page-description">4- Go in the app and click in 'Browse Data'</p>
<p class="page-description">
  5- Add your skill, progress and user_id in the table of skills
</p>
<p class="page-description">
  6- Add your name and user_id in the table of users
</p>
<p class="page-description">
  ---------| Before This Steps, Your Skill Will Add In The Web |---------
</p>
{% endblock %}
